/*// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

body {
    background: url("nyc_cargo.jpg") no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}